<!doctype html>
<html>
<head></head>
    <body>
        <p>Enter a person, noun, color, adjective</p>
        <form action = /madlib>
            <p>Enter person name:<input type = "text" name= "person"></p> 
            <p>Enter noun:  <input type = "text" name= "noun"></p>
            <p>Enter color: <input type = "text" name= "color"></p>
            <p>Enter adjective: <input type = "text" name= "adjective"></p>
            <p>
            <button type="submit">Submit</button>   
            </p> 
        </form>
         
    </body>
</html>    